{% extends 'base.html' %}

{% block title %} BrIW | Orders {% endblock %}

{% block content %}
    <div>
        <h3>Final order list:</h3>
        <div id="order-list" class="order-data-container"> 
            {% for drink_name, values in orders.items() %}
                <div class="order-data">
                    <p><strong>{{ drink_name.title() }}</strong> (x{{ values.count }})</p>
                    {% for person in values.people %}
                        <p>{{ person.title() }}</p>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <br/>
        <a href="/home/{{person_id}}">Return home</a>
    </div>

{% endblock %}